.App {
  width: 100%;
  margin: 0 auto;
}

.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  width: 100%;
}
.droppable {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.option {
  width: 20%;
  height: 40px;
  margin-top: 10px;
  align-self: center;
  align-content: center;
  text-align: center;
  vertical-align: center;
  border: 1px solid black;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px auto;
}

.inProgress {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}

.optionBox {
  border: 3px solid red;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 5px 5px silver;
}